.home h1{
    text-align: center;
    margin-bottom: 2rem;
}

.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 2rem;
}

.cars-container{
    text-align: center;
}

.cars-container .car{
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1rem;
}

.cars-container .car img{
    width: 100%;
}

.cars-container .btn-secondary{
    max-width: 120px;
    text-align: center;
}

